.index-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
    .search-main {
        flex-direction: column;
    }

    .sidebar,
    .index-cards {
        width: 100%;
    }
}

@media screen and (max-width: 1023px) {
    .search-main {
        flex-direction: column;
    }

    .sidebar,
    .index-cards {
        width: 100%;
    }
}

.header__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    border: none;
    background-color: #FF8C00;
    color: #696969;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
}

.search-form__keyword-input {
    padding: 8px 12px;
    width: 100%;
    min-width: 200px;
    max-width: 250px;
    border: 1px solid #A9A9A9;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 10px;
}

.search-form__actions-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 200px;
    max-width: 250px;
    height: 40px;
    border: none;
    background-color: #FFD700;
    color: #696969;
    border-radius: 3px;
    text-align: center;
    margin-bottom: 20px;
}

.search-form__price-sort {
    padding: 8px 12px;
    width: 100%;
    min-width: 200px;
    max-width: 250px;
    border: 1px solid #A9A9A9;
    background-color: white;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.search-tag {
    width: 100%;
    min-width: 200px;
    max-width: 250px;
}

.search-tag__text {
    font-size: 12px;
    border: 2px solid #FFD700;
    border-radius: 10px;
    padding: 8px 12px;
    margin-top: 10px;
}

.search-tag__icon {
    text-decoration: none;
    font-size: 12px;
    border: 1px solid #FFD700;
    border-radius: 50%;
    padding: 4px;
    margin-left: 5px;
}

svg.w-5.h-5 {
    width: 30px;
    height: 30px;
}

.search-main {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 20%;
    margin-bottom: 5px;
}

.index-cards {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

@media screen and (min-width: 768px) {
    .index-cards {
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (min-width: 1024px) {
    .index-cards {
        grid-template-columns: repeat(3,1fr);
    }
}

.index-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .15);

}

.index-card__img-wrapper {
    height: 200px;
    overflow: hidden;
}

.index-card__img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.index-card__body {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.index-card__name,
.index-card__price {
    margin: 0;
    font-size: 18px;
}

.index-paginate {
    display: flex;
    justify-content: center;
}
.index-card-link {
    text-decoration: none;
    color: black;
}